<html>
  <head>
    <title>File Uploader</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Home</h1>
      <% if(!locals.user){%>
      <%- include ("partials/unauth.ejs")%>
      <%}else{%>
    <div id="home">
      <br/>
      <div id="sidebar">
        <% if(folders.length >= 1){ %>
        <% folders.forEach((folder) => { %>
        <a href="<%=`/${locals.user.fullname}/${folder.id}`%>">
          <%- include('partials/navFolders', {name: folder.name, folderId: folder.id}); %>
        </a>
        <%});%>
        <%}%>
        <form class="form" method="POST" action="/newFolder">
          <label for="newFolder"></label>
          <input type="text" name="newFolder" placeholder="Folder Name">
          <button type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <g fill="none" stroke="#98b06f" stroke-width="2">
                <path stroke-linejoin="round" d="M3 18V6a2 2 0 0 1 2-2h4.539a2 2 0 0 1 1.562.75L12.2 6.126a1 1 0 0 0 .78.375H20a1 1 0 0 1 1 1V18a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z" />
                <path stroke-linecap="round" d="M9.5 12.5h5M12 15v-5" />
              </g>
            </svg>
          </button>
        </form>
      </div>
      <div id="folderContainer">
        <% if(locals.selectedFolder && !locals.details) {%>
        <h2><%= locals.selectedFolder.name %></h2>
        <div id="folderContainerActions">
          <form method="POST" action="<%=`/update/${locals.selectedFolder.id}`%>">
            <h5>Edit Folder Name</h5>
            <input type="text" name="folderName" value="<%=`${locals.selectedFolder.name}`%>"/>
            <button type="submit">Submit</button>
          </form>
          <form class="form" id="uploadFile" method="POST" action="<%=`/upload/${locals.selectedFolder.id}`%>" enctype="multipart/form-data">
            <h3>Upload Files to this Folder</h3>
            <input type="hidden" id="<%=`${locals.selectedFolder.id}`%>" name="<%=`${locals.selectedFolder.name}`%>"/>
            <div>
              <input type="file" name="uploaded_file"/>
              <button type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                  <path fill="none" stroke="#8ed081" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 10v9m0-9l3 3m-3-3l-3 3m8.5 2c1.519 0 2.5-1.231 2.5-2.75a2.75 2.75 0 0 0-2.016-2.65A5 5 0 0 0 8.37 8.108a3.5 3.5 0 0 0-1.87 6.746" />
                </svg>
              </button>
            </div>
          </form>
        </div>
          <% if (Array.isArray(files)&& files.length >= 1 ){%>
          <%- include('folder', {name: locals.selectedFolder.name, files: files}) %>
          <%}%>
        <%}%>
        <% if(locals.details) {%>
          <%- include('fileDetails', {file: locals.details}); %>
        <%}%>
      </div>
      <a class="button logout" href="/log-out">LOG OUT</a>
      <%}%>
    </div>
  </body>
</html>
